.btnQuest{
    width: 100vw;
    background-color: rgb(6, 122, 25);
    border-top: solid rgb(1, 83, 1) 1px;
    font-size: 1rem;
}


.Quete{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
    top:1vh;
    position: relative;
}

.questCard {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    min-width: 20vw;
    background-color: rgb(250, 250, 250);
    border: solid rgb(1, 83, 1) 2px;
    color: rgb(1, 83, 1);
    margin: 10px;
}

ul li {
    list-style: none;
}

ul{
    padding: 0;
}

.Modal{
background-color: rgb(161, 161, 161);
height:60px;
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
z-index: 99;
bottom: 30vh;
border: solid rgb(1, 83, 1) 2px;
color: rgb(1, 83, 1);
border-radius: 5px;
}