.Quete{
    position: relative;
    z-index: 6;
    top:1vh;
}

.questCard {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    min-width: 20vw;
    background-color: rgb(250, 250, 250);
    border: solid rgb(1, 83, 1) 2px;
    color: rgb(1, 83, 1);
    margin: 10px;
}

ul li {
    list-style: none;
}

ul{
    padding: 0;
}